table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}
td {
    border: 1px solid black;
    width: 100px;
    height: 20px;
}
.color {
    background: red;
}
.text {
    font-style: italic;
    color: blue;
}

